<article class="project" data-badge="#{{ badge }}">
  <h3 class="visually-hidden">{{ badge }}</h3>
  <picture>
    <source srcset="/images/{{image}}.webp 1x, /images/{{image}}@2x.webp 2x" type="image/webp" />
    <img class="project__img" src="/src/assets/images/{{ image }}.jpg" srcset="/src/assets/images/{{image}}@2x.jpg 2x" width="278" height="184" alt="{{ badge }}" />
  </picture>

  <p class="project__descr">
    {{{ descr }}}
  </p>

  <p class="project__descr project__descr--full">
    {{{ fullDescr }}}
  </p>

  <time class="project__date" datetime="{{ dateString }}">
    <svg class="project__date-icon" width="14" height="14" aria-hidden="true">
      <use xlink:href="/src/assets/images/icons/sprite.svg#icon-calendar"></use>
    </svg>
    {{{ date }}}
  </time>
</article>
